USE [master]
GO
/****** Object:  Database [Obligatorio1DA2]    Script Date: 14/10/2020 15:12:31 ******/
CREATE DATABASE [Obligatorio1DA2]
 CONTAINMENT = NONE
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Obligatorio1DA2].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Obligatorio1DA2]
GO
/****** Object:  Table [dbo].[__EFMigrationsHistory]    Script Date: 14/10/2020 15:12:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Categories]    Script Date: 14/10/2020 15:12:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Categories](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NULL,
 CONSTRAINT [PK_Categories] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Lodgings]    Script Date: 14/10/2020 15:12:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Lodgings](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NULL,
	[TouristicPointId] [int] NULL,
	[Description] [nvarchar](max) NULL,
	[Direction] [nvarchar](max) NULL,
	[Phone] [nvarchar](max) NULL,
	[Stars] [int] NOT NULL,
	[Price] [float] NOT NULL,
	[Images] [nvarchar](max) NULL,
	[IsDeleted] [bit] NOT NULL,
	[Capacity] [bit] NOT NULL,
 CONSTRAINT [PK_Lodgings] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Persons]    Script Date: 14/10/2020 15:12:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Persons](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NULL,
	[Surname] [nvarchar](max) NULL,
	[Mail] [nvarchar](max) NULL,
	[PersonType] [int] NOT NULL,
	[Password] [nvarchar](max) NULL,
 CONSTRAINT [PK_Persons] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Regions]    Script Date: 14/10/2020 15:12:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Regions](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NULL,
 CONSTRAINT [PK_Regions] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Reservations]    Script Date: 14/10/2020 15:12:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Reservations](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Code] [uniqueidentifier] NOT NULL,
	[LodgingId] [int] NULL,
	[ClientId] [int] NULL,
	[CheckIn] [datetime2](7) NOT NULL,
	[CheckOut] [datetime2](7) NOT NULL,
	[StateId] [int] NULL,
	[StateDescription] [nvarchar](max) NULL,
	[Price] [float] NOT NULL,
 CONSTRAINT [PK_Reservations] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[State]    Script Date: 14/10/2020 15:12:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[State](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NULL,
 CONSTRAINT [PK_State] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TouristicPoints]    Script Date: 14/10/2020 15:12:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TouristicPoints](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NULL,
	[Description] [nvarchar](max) NULL,
	[RegionId] [int] NULL,
	[Image] [nvarchar](max) NULL,
 CONSTRAINT [PK_TouristicPoints] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TouristicPointsCategory]    Script Date: 14/10/2020 15:12:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TouristicPointsCategory](
	[TouristicPointId] [int] NOT NULL,
	[CategoryId] [int] NOT NULL,
 CONSTRAINT [PK_TouristicPointsCategory] PRIMARY KEY CLUSTERED 
(
	[TouristicPointId] ASC,
	[CategoryId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserSessions]    Script Date: 14/10/2020 15:12:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserSessions](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Token] [nvarchar](max) NULL,
	[UserId] [int] NULL,
	[ConnectedAt] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_UserSessions] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20201012184504_InitialMigration', N'3.1.8')
GO
SET IDENTITY_INSERT [dbo].[Categories] ON 

INSERT [dbo].[Categories] ([Id], [Name]) VALUES (1, N'Ciudades')
INSERT [dbo].[Categories] ([Id], [Name]) VALUES (2, N'Pueblos')
INSERT [dbo].[Categories] ([Id], [Name]) VALUES (3, N'Areas protegidas')
SET IDENTITY_INSERT [dbo].[Categories] OFF
GO
SET IDENTITY_INSERT [dbo].[Lodgings] ON 

INSERT [dbo].[Lodgings] ([Id], [Name], [TouristicPointId], [Description], [Direction], [Phone], [Stars], [Price], [Images], [IsDeleted], [Capacity]) VALUES (1, N'Casa Mara', 1, N'Rancho en la playa', N'Calle de la cruz 123', N'098259045', 2, 40.5, N'img2.jpg', 0, 1)
INSERT [dbo].[Lodgings] ([Id], [Name], [TouristicPointId], [Description], [Direction], [Phone], [Stars], [Price], [Images], [IsDeleted], [Capacity]) VALUES (2, N'El Sol', 2, N'Casita en la playa El Barco', N'calle 1', N'091657314', 3, 45, N'img32.jpg', 0, 1)
INSERT [dbo].[Lodgings] ([Id], [Name], [TouristicPointId], [Description], [Direction], [Phone], [Stars], [Price], [Images], [IsDeleted], [Capacity]) VALUES (3, N'Radisson Hotel', 3, N'Hotel 5 estrellas ubicado en las afueras de Colonia', N'Calle La Esperanza 343', N'091677842', 5, 1000, N'img4.jpg', 0, 0)
SET IDENTITY_INSERT [dbo].[Lodgings] OFF
GO
SET IDENTITY_INSERT [dbo].[Persons] ON 

INSERT [dbo].[Persons] ([Id], [Name], [Surname], [Mail], [PersonType], [Password]) VALUES (1, N'admin', N'', N'admin', 2, N'admin')
INSERT [dbo].[Persons] ([Id], [Name], [Surname], [Mail], [PersonType], [Password]) VALUES (2, N'Jose', N'Hernandez', N'jh@hotmail.com', 1, NULL)
INSERT [dbo].[Persons] ([Id], [Name], [Surname], [Mail], [PersonType], [Password]) VALUES (3, N'Laura', N'Fernandez', N'lau.f@gmail.com', 1, NULL)
SET IDENTITY_INSERT [dbo].[Persons] OFF
GO
SET IDENTITY_INSERT [dbo].[Regions] ON 

INSERT [dbo].[Regions] ([Id], [Name]) VALUES (1, N'Región metropolitana')
INSERT [dbo].[Regions] ([Id], [Name]) VALUES (2, N'Región Centro Sur')
INSERT [dbo].[Regions] ([Id], [Name]) VALUES (3, N'Región Este')
SET IDENTITY_INSERT [dbo].[Regions] OFF
GO
SET IDENTITY_INSERT [dbo].[Reservations] ON 

INSERT [dbo].[Reservations] ([Id], [Code], [LodgingId], [ClientId], [CheckIn], [CheckOut], [StateId], [StateDescription], [Price]) VALUES (1, N'3bbef35e-6e75-4411-a68e-49da0839eb29', 5, 2, CAST(N'2020-11-20T00:00:00.0000000' AS DateTime2), CAST(N'2020-11-22T00:00:00.0000000' AS DateTime2), 2, N'En proceso', 30)
INSERT [dbo].[Reservations] ([Id], [Code], [LodgingId], [ClientId], [CheckIn], [CheckOut], [StateId], [StateDescription], [Price]) VALUES (2, N'61d1ecdc-1bcc-4b54-9f54-4f155aa8af9b', 2, 3, CAST(N'2020-10-10T00:00:00.0000000' AS DateTime2), CAST(N'2020-10-12T00:00:00.0000000' AS DateTime2), 3, N'Aceptada', 90)
INSERT [dbo].[Reservations] ([Id], [Code], [LodgingId], [ClientId], [CheckIn], [CheckOut], [StateId], [StateDescription], [Price]) VALUES (3, N'ca69eda7-626d-4136-9359-e83be6a8c07d', 8, 4, CAST(N'2020-12-20T00:00:00.0000000' AS DateTime2), CAST(N'2020-12-31T00:00:00.0000000' AS DateTime2), 4, N'Rechazada por falta de fondos en tarjeta', 45)
SET IDENTITY_INSERT [dbo].[Reservations] OFF
GO
SET IDENTITY_INSERT [dbo].[State] ON 

INSERT [dbo].[State] ([Id], [Name]) VALUES (1, N'Creada')
INSERT [dbo].[State] ([Id], [Name]) VALUES (2, N'Pendiente Pago')
INSERT [dbo].[State] ([Id], [Name]) VALUES (3, N'Aceptada')
SET IDENTITY_INSERT [dbo].[State] OFF
GO
SET IDENTITY_INSERT [dbo].[TouristicPoints] ON 

INSERT [dbo].[TouristicPoints] ([Id], [Name], [Description], [RegionId], [Image]) VALUES (1, N'Punta del Este', N'Balneario de playa', 3, N'/punta.jpg')
INSERT [dbo].[TouristicPoints] ([Id], [Name], [Description], [RegionId], [Image]) VALUES (2, N'La Paloma', N'Balneario de playa', 3, N'/pedrera20.jpg')
INSERT [dbo].[TouristicPoints] ([Id], [Name], [Description], [RegionId], [Image]) VALUES (3, N'Colonia', N'Pueblo Colonial', 1, N'/punta.jpg')
SET IDENTITY_INSERT [dbo].[TouristicPoints] OFF
GO
INSERT [dbo].[TouristicPointsCategory] ([TouristicPointId], [CategoryId]) VALUES (1, 1)
INSERT [dbo].[TouristicPointsCategory] ([TouristicPointId], [CategoryId]) VALUES (2, 1)
INSERT [dbo].[TouristicPointsCategory] ([TouristicPointId], [CategoryId]) VALUES (3, 1)
GO
SET IDENTITY_INSERT [dbo].[UserSessions] ON 

INSERT [dbo].[UserSessions] ([Id], [Token], [UserId], [ConnectedAt]) VALUES (1, N'6F9619FF-8B86-D011-B42D-00C04FC964FF', 1, CAST(N'2020-10-14T00:00:00.0000000' AS DateTime2))
SET IDENTITY_INSERT [dbo].[UserSessions] OFF
GO
/****** Object:  Index [IX_Lodgings_TouristicPointId]    Script Date: 14/10/2020 15:12:33 ******/
CREATE NONCLUSTERED INDEX [IX_Lodgings_TouristicPointId] ON [dbo].[Lodgings]
(
	[TouristicPointId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_Reservations_ClientId]    Script Date: 14/10/2020 15:12:33 ******/
CREATE NONCLUSTERED INDEX [IX_Reservations_ClientId] ON [dbo].[Reservations]
(
	[ClientId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_Reservations_LodgingId]    Script Date: 14/10/2020 15:12:33 ******/
CREATE NONCLUSTERED INDEX [IX_Reservations_LodgingId] ON [dbo].[Reservations]
(
	[LodgingId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_Reservations_StateId]    Script Date: 14/10/2020 15:12:33 ******/
CREATE NONCLUSTERED INDEX [IX_Reservations_StateId] ON [dbo].[Reservations]
(
	[StateId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_TouristicPoints_RegionId]    Script Date: 14/10/2020 15:12:33 ******/
CREATE NONCLUSTERED INDEX [IX_TouristicPoints_RegionId] ON [dbo].[TouristicPoints]
(
	[RegionId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_TouristicPointsCategory_CategoryId]    Script Date: 14/10/2020 15:12:33 ******/
CREATE NONCLUSTERED INDEX [IX_TouristicPointsCategory_CategoryId] ON [dbo].[TouristicPointsCategory]
(
	[CategoryId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_UserSessions_UserId]    Script Date: 14/10/2020 15:12:33 ******/
CREATE NONCLUSTERED INDEX [IX_UserSessions_UserId] ON [dbo].[UserSessions]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Lodgings]  WITH CHECK ADD  CONSTRAINT [FK_Lodgings_TouristicPoints_TouristicPointId] FOREIGN KEY([TouristicPointId])
REFERENCES [dbo].[TouristicPoints] ([Id])
GO
ALTER TABLE [dbo].[Lodgings] CHECK CONSTRAINT [FK_Lodgings_TouristicPoints_TouristicPointId]
GO
ALTER TABLE [dbo].[Reservations]  WITH CHECK ADD  CONSTRAINT [FK_Reservations_Lodgings_LodgingId] FOREIGN KEY([LodgingId])
REFERENCES [dbo].[Lodgings] ([Id])
GO
ALTER TABLE [dbo].[Reservations] CHECK CONSTRAINT [FK_Reservations_Lodgings_LodgingId]
GO
ALTER TABLE [dbo].[Reservations]  WITH CHECK ADD  CONSTRAINT [FK_Reservations_Persons_ClientId] FOREIGN KEY([ClientId])
REFERENCES [dbo].[Persons] ([Id])
GO
ALTER TABLE [dbo].[Reservations] CHECK CONSTRAINT [FK_Reservations_Persons_ClientId]
GO
ALTER TABLE [dbo].[Reservations]  WITH CHECK ADD  CONSTRAINT [FK_Reservations_State_StateId] FOREIGN KEY([StateId])
REFERENCES [dbo].[State] ([Id])
GO
ALTER TABLE [dbo].[Reservations] CHECK CONSTRAINT [FK_Reservations_State_StateId]
GO
ALTER TABLE [dbo].[TouristicPoints]  WITH CHECK ADD  CONSTRAINT [FK_TouristicPoints_Regions_RegionId] FOREIGN KEY([RegionId])
REFERENCES [dbo].[Regions] ([Id])
GO
ALTER TABLE [dbo].[TouristicPoints] CHECK CONSTRAINT [FK_TouristicPoints_Regions_RegionId]
GO
ALTER TABLE [dbo].[TouristicPointsCategory]  WITH CHECK ADD  CONSTRAINT [FK_TouristicPointsCategory_Categories_CategoryId] FOREIGN KEY([CategoryId])
REFERENCES [dbo].[Categories] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[TouristicPointsCategory] CHECK CONSTRAINT [FK_TouristicPointsCategory_Categories_CategoryId]
GO
ALTER TABLE [dbo].[TouristicPointsCategory]  WITH CHECK ADD  CONSTRAINT [FK_TouristicPointsCategory_TouristicPoints_TouristicPointId] FOREIGN KEY([TouristicPointId])
REFERENCES [dbo].[TouristicPoints] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[TouristicPointsCategory] CHECK CONSTRAINT [FK_TouristicPointsCategory_TouristicPoints_TouristicPointId]
GO
ALTER TABLE [dbo].[UserSessions]  WITH CHECK ADD  CONSTRAINT [FK_UserSessions_Persons_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[Persons] ([Id])
GO
ALTER TABLE [dbo].[UserSessions] CHECK CONSTRAINT [FK_UserSessions_Persons_UserId]
GO
USE [master]
GO
