
<div class="inline">
  <mat-card>
    <mat-form-field appearance="fill">
      <mat-label>Ingrese un rango de fechas</mat-label>
      <mat-date-range-input [rangePicker]="picker">
        <input matStartDate placeholder="Start date">
        <input matEndDate placeholder="End date">
      </mat-date-range-input>
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-date-range-picker #picker></mat-date-range-picker>
    </mat-form-field>
  
    <mat-form-field class="user-input">
      <mat-label>Bebes</mat-label>
      <input matInput type="number" [formControl]="hideDelay"
             aria-label="Adds a delay between hovering away from the button and hiding the tooltip">
    </mat-form-field>
  
    <mat-form-field class="user-input">
      <mat-label>Niños</mat-label>
      <input matInput type="number" [formControl]="hideDelay"
             aria-label="Adds a delay between hovering away from the button and hiding the tooltip">
    </mat-form-field>
  
    <mat-form-field class="user-input">
      <mat-label>Adultos</mat-label>
      <input matInput type="number" [formControl]="hideDelay"
             aria-label="Adds a delay between hovering away from the button and hiding the tooltip">
    </mat-form-field>

    <button mat-mini-fab color="primary" class="margin-left">
      <mat-icon>search</mat-icon>
    </button>
  </mat-card>
</div>

<mat-divider></mat-divider>


<mat-list class="hotel-list">
  <mat-card>    
  <mat-list-item class="list-item">
    <div class="hotelInfo">
    <h3>Nombre Hotel</h3>
    <p>Direccion</p>
    <p>Descripcion</p>
  </div>
  <div class="hotelImg">
      <figure><a href=""><img class="picture-box__square" src="assets/images/discover (3).jpg" alt="Mate"></a></figure>
  </div> 
</mat-list-item>
</mat-card>

  <mat-list-item> Salt </mat-list-item>
  <mat-list-item> Paprika </mat-list-item>
 </mat-list>