<div>
    <div>
    <h2>Regiones</h2>
    <section class="section-pictures">
    <div class="hover01" *ngFor="let region of regions" (click)="getDetail(region.id)">
        <figure>
            <a href=""><img class="picture-box__img " [src]='"images/"+region.name +".jpg"' alt="The Park Camper Tour 1"></a>

    </figure>
    <p class="bottom-centered">{{region.name}}</p>

    </div>
    
    </section>
    </div>
    <div class ="categories">
    <h2>Categorías</h2>
    <div class="flex-parent jc-center">    
        
      <button class="button4" *ngFor="let category of categories" (click)="getDetail(category.id)">
          {{category.name}}
      </button>
    
    </div>
    <div class="center">
        <div>
            <button class="searchButton">Buscar</button>
            
        </div>
    </div>
    
    </div>
    
    <div class="categories">
      <h2>Puntos Turísticos</h2>
        <tpoint-cards> </tpoint-cards>
    </div>

</div>
