<mat-card>
    <mat-card-title>Agregar Punto Turistico</mat-card-title>
    <mat-card-content class="inline">
            <div>
                <p>
                    <mat-form-field appearance="standard">
                        <mat-label>Nombre</mat-label>
                        <input matInput [(ngModel)]="tpName" required="true" />
                    </mat-form-field>
                </p>
                <p>
                    <mat-form-field appearance="standard">
                        <mat-label>Region</mat-label>
                        <mat-select required="true">
                            <mat-option *ngFor="let region of regions" value="option">{{region}}</mat-option>
                        </mat-select>
                    </mat-form-field>
                </p>
                <p>
                    <mat-form-field appearance="outline">
                        <mat-label>Descripcion</mat-label>
                        <textarea matInput [(ngModel)]="tpDescription" type="text"></textarea>
                    </mat-form-field>
                </p>
            </div>

            <div>
                  <mat-selection-list #cats [(ngModel)]="selectedCats">
                    <mat-list-option *ngFor="let category of categories" class="font-small" [value]= "category">
                        {{category}}
                    </mat-list-option>
                  </mat-selection-list>
                  <p>
                    Categories selected: {{cats.selectedOptions.selected.length}}
                  </p>
            </div>

            <div>
                <p>Imagenes...</p>
                <br>
                <button mat-raised-button color="primary" (click)="addTPoint()" >Agregar Punto Turistico</button>
            </div>
    </mat-card-content>
</mat-card>