<mat-tab-group>
    <mat-tab label="Puntos Turisticos">
        <app-tp-actions></app-tp-actions>
    </mat-tab>
    <mat-tab label="Hospedajes">
        <app-lodging-actions></app-lodging-actions>
    </mat-tab>
    <mat-tab label="Administrador">
        <app-adminstrator-actions></app-adminstrator-actions>
    </mat-tab>
    <mat-tab label="Reservas">
        <app-reservation-actions></app-reservation-actions>
    </mat-tab>
    <mat-tab label="Reportes">
        <app-reports></app-reports>
    </mat-tab>
</mat-tab-group>