<mat-card>
    <mat-card-title>Agregar Punto Turistico</mat-card-title>
    <mat-card-content>
        <form action="" class="inline">
            <div>
                <p>
                    <mat-form-field appearance="standard">
                      <mat-label>Nombre</mat-label>
                      <input matInput placeholder="Placeholder">
                    </mat-form-field>
                </p>
                <p>
                    <mat-form-field appearance="standard">
                        <mat-label>Region</mat-label>
                        <mat-select>
                          <mat-option value="option">Option</mat-option>
                        </mat-select>
                      </mat-form-field>
                </p>
                <p>
                    <mat-form-field appearance="outline">
                        <mat-label>Descripcion</mat-label>
                        <textarea matInput></textarea>
                      </mat-form-field>
                </p>
            </div>
            <div>
                <mat-selection-list #shoes>
                    <h3>Categorias</h3>
                    <mat-list-option *ngFor="let shoe of typesOfShoes">
                        {{shoe}}
                    </mat-list-option>
                    </mat-selection-list>
                    <p>
                    Options selected: {{shoes.selectedOptions.selected.length}}
                    </p>
                    <br>
                    <p>Imagenes...</p>
    
                    <button mat-raised-button color="primary">Agregar Punto Turistico</button>
            </div>
        </form>
    </mat-card-content>
</mat-card>



<mat-card>
    <mat-card-title>Agregar Hospedaje</mat-card-title>
    <mat-card-content>
        <form action="" class="inline">
            <div>
                <p>
                    <mat-form-field appearance="standard">
                      <mat-label>Nombre</mat-label>
                      <input matInput placeholder="Placeholder">
                    </mat-form-field>
                </p>
                <p>
                    <mat-form-field appearance="standard">
                      <mat-label>Dirección</mat-label>
                      <input matInput placeholder="Placeholder">
                    </mat-form-field>
                </p>
                <p>
                    <mat-form-field appearance="standard">
                      <mat-label>Número</mat-label>
                      <input matInput placeholder="Placeholder">
                    </mat-form-field>
                </p>
    
                <p>
                    <mat-form-field appearance="standard">
                        <mat-label>Punto Turistico</mat-label>
                        <mat-select>
                          <mat-option value="option">Option</mat-option>
                        </mat-select>
                      </mat-form-field>
                </p>
            </div>

            <div>
                <p>
                    <mat-form-field appearance="standard">
                        <mat-label>Precio</mat-label>
                        <input matInput type="number" class="example-right-align">
                        <span matPrefix>$&nbsp;</span>
                        <span matSuffix>.00</span>
                    </mat-form-field>
                </p>
    
                <mat-label>Estrellas</mat-label>
                <br>
                <ngb-rating [(rate)]="starRating" [max]="5"> </ngb-rating>
                <br>
                <p>
                    <mat-form-field appearance="outline">
                        <mat-label>Descripcion</mat-label>
                        <textarea matInput></textarea>
                      </mat-form-field>
                </p>
                <p>Imagenes...</p>
    
                <button mat-raised-button color="primary">Agregar Hospedaje</button>
            </div>
            
        </form>
    </mat-card-content>
</mat-card>



<mat-card>
    <mat-card-title>Modificar Capacidad Hospedaje</mat-card-title>
    <mat-card-content >
        <form class="inline">
            <div>
                <p>
                    <mat-form-field appearance="standard">
                        <mat-label>Hospedajes</mat-label>
                        <mat-select>
                          <mat-option value="option">Option</mat-option>
                        </mat-select>
                      </mat-form-field>
                </p>
        
                <p>
                    <mat-form-field appearance="standard">
                      <mat-label>Capacidad Actual</mat-label>
                      <input matInput placeholder="Placeholder" readonly>
                    </mat-form-field>
                </p>
            </div>
    
            <div>
                <p>
                    <mat-form-field appearance="standard">
                      <mat-label>Nueva Capacidad</mat-label>
                      <input matInput placeholder="Placeholder" readonly>
                    </mat-form-field>
                </p>
        
                <button mat-raised-button color="primary">Confirmar</button>
            </div>
        </form>
    </mat-card-content>
</mat-card>
<mat-card>
    <mat-card-title>Cambiar Estado de Reserva</mat-card-title>
    <mat-card-content >
        <form class="inline">
            <div>
                <p>
                    <mat-form-field appearance="standard">
                        <mat-label>Reservas</mat-label>
                        <mat-select>
                          <mat-option value="option">Option</mat-option>
                        </mat-select>
                      </mat-form-field>
                </p>
        
                <p>
                    <mat-form-field appearance="standard">
                      <mat-label>Estado Actual</mat-label>
                      <input matInput placeholder="Placeholder" readonly>
                    </mat-form-field>
                </p>
            </div>
    
            <div>
                <p>
                    <mat-form-field appearance="standard">
                        <mat-label>Estados</mat-label>
                        <mat-select>
                          <mat-option value="option">Option</mat-option>
                        </mat-select>
                      </mat-form-field>
                </p>
        
                <button mat-raised-button color="primary">Confirmar</button>
            </div>
        </form>
    </mat-card-content>
</mat-card>



<mat-card>
    <mat-card-title> Agregar Administrador</mat-card-title>
    <mat-card-content>
        <form action="" class="inline">
            <div>
                <p>
                    <mat-form-field appearance="standard">
                      <mat-label>Nombre</mat-label>
                      <input matInput placeholder="Placeholder">
                    </mat-form-field>
                </p>
                <p>
                    <mat-form-field appearance="standard">
                      <mat-label>Apellido</mat-label>
                      <input matInput placeholder="Placeholder">
                    </mat-form-field>
                </p>
            </div>

            <div>
                <p>
                    <mat-form-field appearance="standard">
                        <mat-label>Email</mat-label>
                        <input matInput placeholder="pat@example.com" [formControl]="email" required>
                        <mat-icon matSuffix>sentiment_very_satified</mat-icon>
                        <mat-error *ngIf="email.invalid">{{getErrorMessage()}}</mat-error>
                      </mat-form-field>
                </p>
                
                <p>
                    <mat-form-field appearance="standard">
                        <mat-label>Contraseña</mat-label>
                        <input matInput [type]="hide ? 'password' : 'text'">
                        <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                        <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                        </button>
                      </mat-form-field>
                </p>
    
                <button mat-raised-button color="primary">Agregar Administrador</button>
            </div>
            
        </form>
    </mat-card-content>
</mat-card>



<mat-card>
    <mat-card-title> Eliminar/Modificar Administrador</mat-card-title>
    <mat-card-content>
        <form action="" class="inline">
            <div>
                <p>
                    <mat-form-field appearance="standard">
                        <mat-label>Administradores</mat-label>
                        <mat-select>
                          <mat-option value="option">Option</mat-option>
                        </mat-select>
                      </mat-form-field>
                </p>
            </div>
            <div>
                <p>
                    <mat-form-field appearance="standard">
                      <mat-label>Nombre</mat-label>
                      <input matInput placeholder="Placeholder">
                    </mat-form-field>
                </p>
                <p>
                    <mat-form-field appearance="standard">
                      <mat-label>Apellido</mat-label>
                      <input matInput placeholder="Placeholder">
                    </mat-form-field>
                </p>
                
                <p>
                    <mat-form-field appearance="standard">
                        <mat-label>Email</mat-label>
                        <input matInput placeholder="pat@example.com" [formControl]="email" required>
                        <mat-icon matSuffix>sentiment_very_satified</mat-icon>
                        <mat-error *ngIf="email.invalid">{{getErrorMessage()}}</mat-error>
                      </mat-form-field>
                </p>
                
                <p>
                    <mat-form-field appearance="standard">
                        <mat-label>Contraseña</mat-label>
                        <input matInput [type]="hide ? 'password' : 'text'">
                        <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                        <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                        </button>
                      </mat-form-field>
                </p>
            </div>

            <div id="delete-modify-admin">
                <button mat-raised-button color="primary">Modificar Administrador</button>
                <br>
                <button mat-raised-button color="primary">Eliminar Administrador</button>
            </div>
           

        </form>
    </mat-card-content>
</mat-card>
<mat-card>
    <mat-card-title> Reportes</mat-card-title>
    <mat-card-content>
        <mat-list>
            <mat-list-item> Pepper </mat-list-item>
            <mat-list-item> Salt </mat-list-item>
            <mat-list-item> Paprika </mat-list-item>
           </mat-list>
    </mat-card-content>
</mat-card>