
<div class="main-photo">
    <figure><img class="panoramic-photo" src="/images/QuebradaCuervos.jpg" alt="The Park Camper Tour 1"></figure>
<div>

    <h1>¿Que Hacer en Uruguay?</h1>
    <hr>
    <section class="section-pictures">
        <div class="hover13">
            <figure><a href=""><img class="picture-box__rounded " src="assets/images/to-do (1).jpg" alt="Areas Protegidas"></a><p class="caption">Areas Protegidas</p></figure>
        </div>
        <div class="hover13">
            <figure><a href=""><img class="picture-box__rounded" src="assets/images/to-do (2).jpg" alt="Naturaleza"></a><p class="caption">Naturaleza</p></figure>
        </div>
        <div class="hover13">
            <figure><a href=""><img class="picture-box__rounded" src="assets/images/to-do (3).jpg" alt="Cultura y Patrimonio"></a><p class="caption">Cultura y Patrimonio</p></figure>
        </div>
    </section>
</div>


<div>
    <h1>Conocé Uruguay</h1>
    <hr>
    <section class="section-pictures">
        <div class="hover13">
            <figure><a href=""><img class="picture-box__square " src="assets/images/discover (1).jpg" alt="Futbol"></a></figure>
        </div>
        <div class="hover13">
            <figure><a href=""><img class="picture-box__square" src="assets/images/discover (2).jpg" alt="Gaucho"></a></figure>
        </div>
        <div class="hover13">
            <figure><a href=""><img class="picture-box__square" src="assets/images/discover (3).jpg" alt="Mate"></a></figure>
        </div>
    </section>
</div>

<div id="reserve">
    <h1>Reserva Ya!</h1>
    <hr>
    <p> 
        Uruguay cuenta con un amplia variedad de regiones para visitar, reserva ya tu hospedaje para vivir la mejor experiencia en Uruguay!
    </p>
    <button routerLink="../menu">Ver regiones</button>
</div>

  
