<div class="tpointContent" *ngFor="let tpoint of tpoints" (click)="getDetail(tpoint.id)">
    <div class="tpointImage">
        <img class="picture-box__img " [src]='tpoint.image'>
    </div>
    <div class="tpointText">
        <ul>
            <li><h2>Nombre: {{tpoint.name}}</h2></li>
            <li>Descripcion: {{tpoint.description}} </li>
            <li>Region: {{tpoint.region}} </li>
        </ul>
    </div>
    <div class="tpointCategories">
        <p>Categorias:</p>
        <mat-chip-list aria-label="Fish selection" class="mat-chip-list mat-chip-list-stacked"> 
            <mat-chip *ngFor="let cat of tpoint.categories">{{cat}}</mat-chip>
          </mat-chip-list>
    </div>
</div>
