mat-card{
    width: 80%;
    margin: 20px auto;
    padding: 20px;
}

ngb-rating {
    color: #FFC107;
    font-size: 28px;
    float: left;
}

p {
    margin: 0px;
}

.inline {
    justify-content: center;
    display: flex;
    width: 90%;
  }

.inline div{
    margin: 20px;
}

#delete-modify-admin button{
    margin-top: 20px;
    width: 100%;
}

.font-small{
    font-size: small;
}

ngb-rating{
    margin-bottom: 20px;
}


.inline {
    justify-content: center;
    display: flex;
    width: 90%;
    margin: 20px auto;
}

.search-bar{
    border-radius: 50px;
    height: 85px;
    width: 1000px;
    text-align: center;
    margin-top: 0px;
    padding-top: 0px;
}


.searchElement {
    padding: 0px 40px;
}

.margin-left{
    margin-left:20px ;
}

h2{
    text-align: center;
    margin-bottom: 0px;
}