<mat-card>
    <mat-card-title>Agregar Hospedaje</mat-card-title>
    <mat-card-content class="inline">
            <div>
                <p>
                    <mat-form-field appearance="standard">
                        <mat-label>Nombre</mat-label>
                        <input matInput placeholder="Placeholder">
                    </mat-form-field>
                </p>
                <p>
                    <mat-form-field appearance="standard">
                        <mat-label>Dirección</mat-label>
                        <input matInput placeholder="Placeholder">
                    </mat-form-field>
                </p>
                <p>
                    <mat-form-field appearance="standard">
                        <mat-label>Número</mat-label>
                        <input matInput placeholder="Placeholder">
                    </mat-form-field>
                </p>

                <p>
                    <mat-form-field appearance="standard">
                        <mat-label>Punto Turistico</mat-label>
                        <mat-select>
                            <mat-option value="option">Option</mat-option>
                        </mat-select>
                    </mat-form-field>
                </p>
            </div>

            <div>
                <p>
                    <mat-form-field appearance="standard">
                        <mat-label>Precio</mat-label>
                        <input matInput type="number" class="example-right-align">
                        <span matPrefix>$&nbsp;</span>
                        <span matSuffix>.00</span>
                    </mat-form-field>
                </p>

                <mat-label>Estrellas</mat-label>
                <br>
                <ngb-rating [(rate)]="starRating" [max]="5"> </ngb-rating>
                <br>
                <p>
                    <mat-form-field appearance="outline">
                        <mat-label>Descripcion</mat-label>
                        <textarea matInput></textarea>
                    </mat-form-field>
                </p>
                <p>Imagenes...</p>

                <button mat-raised-button color="primary">Agregar Hospedaje</button>
            </div>
    </mat-card-content>
</mat-card>

<mat-card>
    <mat-card-title>Modificar Capacidad Hospedaje</mat-card-title>
    <mat-card-content class="inline">
            <div>
                <p>
                    <mat-form-field appearance="standard">
                        <mat-label>Hospedajes</mat-label>
                        <mat-select>
                            <mat-option value="option">Option</mat-option>
                        </mat-select>
                    </mat-form-field>
                </p>

                <p>
                    <mat-form-field appearance="standard">
                        <mat-label>Capacidad Actual</mat-label>
                        <input matInput placeholder="Placeholder" readonly>
                    </mat-form-field>
                </p>
            </div>

            <div>
                <p>
                    <mat-form-field appearance="standard">
                        <mat-label>Nueva Capacidad</mat-label>
                        <input matInput placeholder="Placeholder" readonly>
                    </mat-form-field>
                </p>

                <button mat-raised-button color="primary">Confirmar</button>
            </div>
    </mat-card-content>
</mat-card>