<div class="tpointContent">
    <div class="tpointImage">
        <img class="picture-box__img " src="../../../assets/images/beach.jpg" >
    </div>
    <div class="tpointText">
        <ul>
            <li><h2>Nombre: Punta del Este</h2></li>
            <li>Descripcion: Punta del Este es una ciudad peninsular situada en el extremo meridional de Uruguay, en el departamento de Maldonado. Es uno de los balnearios más exclusivos de América Latina y el más importante en Uruguay </li>
            <li>Region: Litoral Este </li>
        </ul>
    </div>
    <div class="tpointCategories">
        <p>Categorias:</p>
        <mat-chip-list aria-label="Fish selection" class="mat-chip-list mat-chip-list-stacked"> 
            <mat-chip>Playa</mat-chip>
            <mat-chip>Balneario</mat-chip>
            <mat-chip>Verano</mat-chip>
          </mat-chip-list>
    </div>
</div>
