<mat-card>
    <mat-card-title>Cambiar Estado de Reserva</mat-card-title>
    <mat-card-content class="inline">
            <div>
                <p>
                    <mat-form-field appearance="standard">
                        <mat-label>Codigos de Reservas</mat-label>
                        <mat-select [(ngModel)]="selectedReservation" (selectionChange)="select(selectedReservation)">
                            <mat-option *ngFor="let reserve of reservations" [value]="reserve">{{reserve.code}}</mat-option>
                        </mat-select>
                    </mat-form-field>
                </p>

                <p>
                    <mat-form-field appearance="standard">
                        <mat-label >Estado Actual</mat-label>
                        <input matInput [(ngModel)]="actualState" placeholder="Placeholder" readonly>
                    </mat-form-field>
                </p>
            </div>

            <div>
                <p>
                    <mat-form-field appearance="standard">
                        <mat-label>Estados</mat-label>
                        <mat-select [(ngModel)]="selectedState">
                            <mat-option *ngFor="let state of states" [value]="state">{{state.name}}</mat-option>
                        </mat-select>
                    </mat-form-field>
                </p>

                <button mat-raised-button color="primary">Confirmar</button>
            </div>
    </mat-card-content>
</mat-card>