mat-card{
    width: 80%;
    margin: 20px auto;
    padding: 20px;
}

ngb-rating {
    color: #FFC107;
    font-size: 28px;
    float: left;
}

p {
    margin: 0px;
}

.inline {
    justify-content: center;
    display: flex;
    width: 90%;
  }

.inline div{
    margin: 20px;
}

#delete-modify-admin button{
    margin-top: 20px;
    width: 100%;
}

.font-small{
    font-size: small;
}

.inline {
    justify-content: center;
    display: flex;
    width: 90%;
    margin: 20px auto;
}

.search-bar{
    border-radius: 50px;
    height: 85px;
    width: 800px;
    text-align: center;
    background-color: rgb(250, 250, 250);
}

.margin-left{
    margin-left: 50px;
}
.user-input{
    margin-right: 40px;
    width: 200px;
}