<mat-card>
    <h1>Confirmación de Reserva</h1>
    <div *ngIf="notConfirmed; then thenBlock else elseBlock"></div>
    <ng-template #thenBlock> 
    <mat-card-content class="inline" #thenBlock>
        <div>
            <p>
                <mat-form-field appearance="standard">
                    <mat-label>Nombre</mat-label>
                    <input matInput [(ngModel)]="name" placeholder="Placeholder" required="true">
                </mat-form-field>
            </p>
            
        </div>

        <div>
            <p>
                <mat-form-field appearance="standard">
                    <mat-label>Apellido</mat-label>
                    <input matInput [(ngModel)]="surname" placeholder="Placeholder" required="true">
                </mat-form-field>
            </p>
            <button mat-raised-button color="primary" (click)="confirmReservation()">Reservar!</button>
        </div>

        <div>
            <p>
                <mat-form-field appearance="standard">
                    <mat-label>Email</mat-label>
                    <input matInput [(ngModel)]="email" placeholder="Placeholder" required="true">
                </mat-form-field>
            </p>    
        </div>
    </mat-card-content>
    </ng-template>

    <ng-template #elseBlock>
    <div #elseBlock>
        <div>
            <h1>
                
                    Código de Reserva: {{billModel.reservationCode}}
                
            </h1>
            
        </div>
         <div>
                <h3>
                    
                       Numero de contacto: {{billModel.phone}}
                    
                </h3>   
        </div>
        <div>
                <h3>
                   
                       Descripcion: {{billModel.description}}
                   
                </h3>   
        </div>
        <div>
                <h1>
                    
                       Precio: {{billModel.pricePaid}} USD
                    
                </h1> 
        </div>
        <div>
            <button mat-raised-button color="primary" (click)="back()">Volver</button>
        </div>
    </div>
    </ng-template>

</mat-card>
