<h1>Importar Puntos Turísticos</h1>
<mat-card class="tpointContent">
    <div class="left">
        <p><strong>Elegir Método de importación de Puntos Turísticos:</strong></p>
        <!-- Dropdown with importation methods available -->
        <mat-form-field appearance="fill" >
            <mat-label>Importador</mat-label>
            <mat-select [(ngModel)]="selectedImporter" (selectionChange)="select(selectedImporter)" required="true" >
                <mat-option *ngFor="let importer of availableImporters" [value]="importer">
                    {{importer.importerName}}
                </mat-option>
            </mat-select>
          </mat-form-field>
        <p><strong>Importar</strong></p>
        <p>Nota: Utilice los caracteres <strong>' / '</strong> o <strong>' \\ '</strong> como separadores</p>
        <!-- Campos Variables  -->
         
        <div *ngIf="selectedImporter!=undefined">
            <mat-form-field *ngFor="let param of selectedImporter.parameters" appearance="fill">
                <mat-label>{{param.name}}</mat-label>
                <input  matInput [(ngModel)]="param.value" placeholder="{{param.name}}" required="true">
            </mat-form-field>
        
        </div>
            <!-- ---------               -->
        <div *ngIf="(availableImporters.length>0 && selectedImporter!=undefined); else elseBlock">
            <button mat-raised-button color="primary" class="button-margin" (click)="import()">Importar</button>
        </div>
        <ng-template #elseBlock>
            <button mat-raised-button color="primary" class="button-margin" disabled>Importar</button>
        </ng-template>

    </div>
    <div class="right" *ngIf="importationExecuted">
        <mat-card>
            <mat-card-title> Importados</mat-card-title>
            <mat-card-content>
                <mat-list >
                    <mat-list-item *ngFor="let importedLodging of importationResult.imported" 
                                   class="font-small">{{importedLodging.name}} </mat-list-item>
                    
                </mat-list>
            </mat-card-content>
        </mat-card>

        <mat-card>
            <mat-card-title>No Importados</mat-card-title>
            <mat-card-content>
                <mat-list>
                    <mat-list-item *ngFor="let tuple of importationResult.notImported" 
                    class="font-small"> {{tuple.lodging.name}} - {{tuple.reason}} </mat-list-item>
                </mat-list>
            </mat-card-content>
        </mat-card>

        <table mat-table [dataSource]="importationResult.notImported" class="mat-elevation-z1">
          
            <!-- Name Column -->
            <ng-container matColumnDef="name">
              <th mat-header-cell *matHeaderCellDef> Nombre </th>
              <td mat-cell *matCellDef="let element"> {{element.lodging.name}} </td>
            </ng-container>
          
            <!-- Error Column -->
            <ng-container matColumnDef="error" class="mat-column-error">
              <th mat-header-cell *matHeaderCellDef> Error </th>
              <td mat-cell *matCellDef="let element"> {{element.reason}} </td>
            </ng-container>
          
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
          
          

   </div>
    
</mat-card>
