<h1>Importar Puntos Turísticos</h1>
<mat-card class="tpointContent">
    <div class="left">
        <p><strong>Elegir Método de importación de Puntos Turísticos:</strong></p>
        <!-- Dropdown with importation methods available -->
        <mat-form-field appearance="fill" >
            <mat-label>Importador</mat-label>
            <mat-select>
              <mat-option value="JSON">JSON</mat-option>
              <mat-option value="XML">XML</mat-option>
              <mat-option value="Base de Datos">Data Base</mat-option>
            </mat-select>
          </mat-form-field>
        <p><strong>Importar</strong></p>
        <!-- Campos Variables  -->
         <mat-form-field appearance="fill">
                <mat-label>Archivo XML</mat-label>
                <ngx-mat-file-input formControlName="fill" placeholder="Seleccione el archivo XML" [accept]="'.xml'"></ngx-mat-file-input>
                <mat-icon matSuffix>folder</mat-icon>
              </mat-form-field>
          <div>
                <button mat-raised-button color="primary" class="button-margin">Importar</button>
        </div>
    </div>
    <div class="right">
        <mat-card>
            <mat-card-title> Importados</mat-card-title>
            <mat-card-content>
                <mat-list>
                    <mat-list-item class="font-small"> Bella Vista </mat-list-item>
                    <mat-list-item class="font-small"> Maldonado </mat-list-item>
                    <mat-list-item class="font-small"> Tacuarembó </mat-list-item>
                </mat-list>
            </mat-card-content>
        </mat-card>

        <mat-card>
            <mat-card-title>No Importados</mat-card-title>
            <mat-card-content>
                <mat-list>
                    <mat-list-item class="font-small"> Puerto Vallarta - Error de procesamiento </mat-list-item>
                    <mat-list-item class="font-small"> Colonia - Region Central inexistente </mat-list-item>
                    <mat-list-item class="font-small"> Rivera - Categoria ciudad inexistente </mat-list-item>
                </mat-list>
            </mat-card-content>
        </mat-card>

   </div>
    
</mat-card>
