<div class="toolbar" role="banner">
    <img width="200" src="assets/images/logo.png" routerLink="" />
    <div class="inline">
        <span class="toolbar-element" routerLink="pubs">
            <a> REGIONES </a>
          </span>
          <span class="toolbar-element" routerLink="pubs">
            <a>  | </a>
          </span>
          <span class="toolbar-element" routerLink="beers">
            <a> CONSULTAR RESERVA </a>
          </span>
    </div>
    <span class="toolbar-element">
      <a>Iniciar Sesión</a>
    </span>
  </div>