<div class="inline">
    <mat-card>
    <h1>Felicitaciones, su reserva a sido confirmada!</h1>
    <img class = "logo" width="100" src="/images/checked.png" routerLink="menu"/>
    <mat-divider></mat-divider>
        <mat-card-content>
            <mat-card-title class="margin">Reservation Code</mat-card-title>
            <mat-label>{{bill.description}}</mat-label>
            <br>
            <mat-label>Contacto: {{bill.phone}}</mat-label>
            <br>
            <mat-label>Precio: {{bill.pricePaid}}</mat-label>
        </mat-card-content>
    </mat-card>
</div>