<div class="content">
    <h1>Ingrese el Código de Reserva</h1>
    <app-reservation-searchbar></app-reservation-searchbar>
    <mat-divider class="margin"></mat-divider>

    <mat-card class="client-info">
        <h2>Estado de la reserva</h2>
        <h3>Nombre Cliente</h3>
        <p>Hospedaje</p>
        <p>Fecha</p>
    </mat-card>

    <button mat-raised-button color="primary">Escribir Reseña</button>

    <div class="review-area">
        <mat-form-field appearance="outline" class="text-area">
            <mat-label>Ingrese su reseña aqui...</mat-label>
            <textarea matInput></textarea>
          </mat-form-field>
        <button mat-raised-button><mat-icon> send</mat-icon></button>
        <br>
        <ngb-rating [(rate)]="starRating" [max]="5"> </ngb-rating>
    </div>

</div>
