:host {
    font-family: Roboto, "Helvetica Neue", sans-serif;
    font-size: 12px;
    color: #333;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  /*
    Azul: #00528c 
    Blanco: #f4f3f3  
    Amarillo: #fdb935
  */
  
  .inline {
    justify-content: center;
    display: flex;
    width: 30%;
    margin: auto auto;
  }

  a{
    color: white;
    text-decoration: none;
  }

  #login{
    margin-right: 20px;
    color: black;
    text-decoration: none;
  }

  .toolbar {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 110px;
    display: flex;
    align-items: center;
    background-color: #00528c ;
    color: #f4f3f3;
  }
  
  .toolbar img {
    margin: 0 16px;
  }
  
  .toolbar img:hover {
    opacity: 0.6;
    cursor: pointer;
  }
  
  .toolbar-element {
    margin: 16px 16px;
    font-size: 16px;
  }
  
  .toolbar-element:hover {
    cursor: pointer;
  }
  
  .active {
    color: #c7c7c7;
  }

  
.content {
    margin-top: 110px;
  }

.white-color{
  border-radius: 5px;
  height: 45px;
}

.black-color{
  color: rgb(255, 255, 255);
  opacity: 1 !important;
}


  
  