<div class="toolbar" role="banner">
    <img width="200" src="assets/images/logo.png" routerLink="menu"/>

      <nav mat-tab-nav-bar class="inline white-color">
        <a mat-tab-link class="black-color" routerLink="tpointsearch" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }"> Regiones </a>
        <a mat-tab-link class="black-color" routerLink="../reviews" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }"> Consultar Reserva </a>
        <a mat-tab-link class="black-color" routerLink="../reviews" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }"> Escribir Reseña </a>
      </nav>
      <div *ngIf="logged; then thenBlock; else elseBlock"></div>
      <ng-template #thenBlock>
        <a mat-raised-button id="login" routerLink="../admin" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">Administracion</a>
        <a mat-raised-button (click)="logout()" id="login"> Desconectarse</a>
      </ng-template>
      <ng-template #elseBlock>
        <a mat-raised-button id="login" routerLink="../login" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">Iniciar Sesion</a>
      </ng-template>
      </div>

  <div class="content">
    <router-outlet (activate)='onActivate()'></router-outlet>
  </div>

<app-footer></app-footer>
