.div{
    margin: 0 auto;
    width: 80%;
    text-align: center;
    align-content: center;
}

.picture-box {
	display: block;
    width: 40%;
    -o-object-fit: cover;
    object-fit: cover;
    margin: 20px auto 0px;
    padding: 40px 0px 0px;
  }
